.navbar{
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 100vh;
    padding: 0.8rem 1rem;
    align-items: start;
    position: sticky;
    top: 0;

    .logo{
        width: 100%;
        padding: 0.6rem 0.8rem;
        cursor: pointer;

        .logo-img{
            height: 2rem;
        }

    }

    .container{
        height: 45vh;
        margin-top: 5rem;

        .options{
            height: 100%;
            display: flex;
            width: 180px;
            flex-direction: column;
            gap: 1.5rem;

            .option{
                display: flex;
                align-items: center;
                width: 100%;
                padding: 0.6rem 0.8rem;
                gap: 0.5rem;
                border-radius: 5px;
                cursor: pointer;

                h4{
                    position: absolute;
                    left: -7%;
                    z-index: 0;
                    opacity: 0;
                    transition: all 0.5s ease;
                }
            }

            .hover{
                background-color: #ffffff22;
            }


            svg{
                height: 1.8rem;
                width: 1.8rem;
            }

            .profile{
                margin-top: 2.5rem;
            }

            .profile img{
                height: 2.5rem;
                border-radius: 50%;
            }     
        }

        .options:hover h4{
            left: 35%;
            opacity: 1;
        }
    }
}