.navbar{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    padding: 0.5rem 1rem;
    align-items: start;
    border-right: 1px solid white;

    .container{
        height: 80vh;
        margin-top: 5rem;

        .options{
            height: 100%;

            svg{
                height: 2rem;
                width: 2rem;
            }
            
        }
    }
}